<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimme Gifs!</title>
</head>

<body>
    <section class="sides" id="left">
        <div class="wrapper">
            <nav class="no-select no-u-select" id="navbar">
                <button type="button" id="about">About</button>
                <div class="indicator"></div>
            </nav>
            <div id="middle">
                <div class="text no-select no-u-select" id="header">
                    <p class="side-font" id="title">Gimme Gifs!</p>
                    <p class="main-font" id="sub-title">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sed commodi maiores porro in
                        consequuntur aliquid officia aspernatur laborum doloribus.
                    </p>
                </div>
                <div class="main-font" id="actions">
                    <div class="searchbar">
                        <input type="text" name="" id="bar" placeholder="cats, hype, loool, lebron...">
                        <button type="button" id="search">
                            <?xml version="1.0" ?><svg style="enable-background:new 0 0 24 24;" version="1.1"
                                viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="grid_system" />
                                <g id="_icons">
                                    <path
                                        d="M10,18c1.9,0,3.6-0.6,4.9-1.7l4.4,4.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4l-4.4-4.4   c1-1.4,1.7-3,1.7-4.9c0-4.4-3.6-8-8-8s-8,3.6-8,8S5.6,18,10,18z M10,4c3.3,0,6,2.7,6,6s-2.7,6-6,6s-6-2.7-6-6S6.7,4,10,4z" />
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div id="links">
                <p class="text no-select no-u-select" class="main-font" id="author">
                    poufsadev
                </p>
                <div id="socmed">
                    <a target="_blank" href="https://x.com/Vqliant">
                        <?xml version="1.0" ?><svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" width="24px"
                            height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                            xml:space="preserve">
                            <g>
                                <polygon
                                    points="12.153992,10.729553 8.088684,5.041199 5.92041,5.041199 10.956299,12.087097 11.59021,12.97345    15.900635,19.009583 18.068909,19.009583 12.785217,11.615906  " />
                                <path
                                    d="M21.15979,1H2.84021C1.823853,1,1,1.823853,1,2.84021v18.31958C1,22.176147,1.823853,23,2.84021,23h18.31958   C22.176147,23,23,22.176147,23,21.15979V2.84021C23,1.823853,22.176147,1,21.15979,1z M15.235352,20l-4.362549-6.213013   L5.411438,20H4l6.246887-7.104675L4,4h4.764648l4.130127,5.881958L18.06958,4h1.411377l-5.95697,6.775635L20,20H15.235352z" />
                            </g>
                        </svg>
                    </a>
                    <a target="_blank" href="https://github.com/Poufles">
                        <?xml version="1.0" ?>
                        <!DOCTYPE svg
                            PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg
                            height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1"
                            viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                                <path class="st0"
                                    d="M256,32C132.3,32,32,134.8,32,261.7c0,101.5,64.2,187.5,153.2,217.9c11.2,2.1,15.3-5,15.3-11.1   c0-5.5-0.2-19.9-0.3-39.1c-62.3,13.9-75.5-30.8-75.5-30.8c-10.2-26.5-24.9-33.6-24.9-33.6c-20.3-14.3,1.5-14,1.5-14   c22.5,1.6,34.3,23.7,34.3,23.7c20,35.1,52.4,25,65.2,19.1c2-14.8,7.8-25,14.2-30.7c-49.7-5.8-102-25.5-102-113.5   c0-25.1,8.7-45.6,23-61.6c-2.3-5.8-10-29.2,2.2-60.8c0,0,18.8-6.2,61.6,23.5c17.9-5.1,37-7.6,56.1-7.7c19,0.1,38.2,2.6,56.1,7.7   c42.8-29.7,61.5-23.5,61.5-23.5c12.2,31.6,4.5,55,2.2,60.8c14.3,16.1,23,36.6,23,61.6c0,88.2-52.4,107.6-102.3,113.3   c8,7.1,15.2,21.1,15.2,42.5c0,30.7-0.3,55.5-0.3,63c0,6.1,4,13.3,15.4,11C415.9,449.1,480,363.1,480,261.7   C480,134.8,379.7,32,256,32z" />
                            </g>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/poufsadev/">
                        <?xml version="1.0" encoding="utf-8"?>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56.7 56.7"
                            enable-background="new 0 0 56.7 56.7" xml:space="preserve">
                            <g>
                                <path d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
		c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z" />
                                <circle cx="41.5" cy="16.4" r="2.9" />
                                <path d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
		h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
		s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
		c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z" />
                            </g>
                        </svg>

                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="sides" id="right">
    </section>
</body>

</html>