@import url('https://fonts.cdnfonts.com/css/sunday-pasta');
@import url('https://fonts.cdnfonts.com/css/sheriff-2');
@import './css-reset-jc.css';

:root {
    --main-font: 'TheSerif', sans-serif;;
    --side-font: 'Sunday Pasta', sans-serif;
    --white: #FCFFFC;
    --black: #04090e;
}

button {
    cursor: pointer;
}

.main-font {
    font-family: var(--main-font);
}

.side-font {
    font-family: var(--side-font);
}

.text {
    cursor: default;
}

.no-select::selection {
    background-color: transparent;
}

.no-u-select {
    user-select: none;
}